*{margin:0;padding:0;box-sizing:border-box}
html{background-color:#39424e;font-family:didact gothic,sans serif;font-size:16px}
body{font-size:16px;font-family:didact gothic,sans serif;color:#fff;line-height:2rem;letter-spacing:1.5px;text-shadow:none;display:flex;flex-direction:column;justify-content:space-between;align-items:center;opacity:1}
header{padding:6em 1em 1em 0}

@media screen and (max-width:736px){header{padding:3em 0}}
h1,h2,h3{margin-bottom:.5em;font-family:didact gothic,sans-serif;opacity:.6}
li{opacity:.8}
li a{opacity:.9}
ul{list-style-type:none}
p{display:inline}
a{color:#ccc;text-decoration:none;border-bottom:2px solid #ccc;transition:.5s ease}
a:hover{color:#fff;font-style:none}
a:active{color:#ccc}
hr{margin:1rem 0;background-color:transparent;width:50%;border-style:solid;border-width:1px;opacity:.3}
nav{margin:1em auto}
.wrap{margin:0 auto;width:45%;max-width:64em}

@media screen and (max-width:736px){.wrap{width:90%}}
.tag-container{display:flex;flex-direction:row;justify-content:flex-start;align-items:center}
.tag{background-color:transparent;position:relative;bottom:0}
.flex-container{display:flex;flex-direction:column;justify-content:center;align-items:flex-start}
.bottom-menu{display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center}
.footer{width:100%;display:flex;justify-content:center;align-items:center;text-align:center;background-color:transparent;position:relative;bottom:0;padding:1rem;font-family:didact gothic,sans serif;font-size:1rem;line-height:1em;opacity:.8}
.footer a{border-bottom:none;display:contents}
#splash{min-height:calc(100vh - 6em)}
.big-link{font-family:didact gothic,sans serif;font-size:3rem;font-weight:300;margin-bottom:2rem;line-height:1.5em}
#title{margin-top:3rem;font-family:didact gothic,sans serif;font-size:2rem;line-height:3rem;margin-bottom:2rem}
article{width:100%;line-height:2em;letter-spacing:2px}
article div{width:100%;height:100%;margin-bottom:1em}
article h1,article h2,article h3{margin:1em 0;text-align:left}
article .anchor-link>a{border-bottom:none;color:#fff}
article .anchor-link>a:hover>.pilcrow{display:inline}
article span.pilcrow{display:none}
article p{display:block;margin-bottom:1em;line-height:1.6;letter-spacing:1.5px}
article .highlight{width:100%}
article pre{line-height:2rem;border-radius:3px;padding:1rem;overflow-x:auto;background-color:#000004;width:100%;margin-bottom:1em}
article pre>code{border:none}article code{font-size:.9rem;font-family:source code pro,monospace;padding:.1rem;border-radius:3px;border:1px solid #ccc}
article img{width:100%;max-width:100%;display:block;margin:2rem auto;opacity:1}
article blockquote{background-color:#ccc;color:#39424e;padding:2rem;margin:2rem 1rem;border-radius:3px}
article blockquote a{color:#111}
article blockquote ul{margin-top:1rem}
article blockquote li{list-style:disc}
article table{width:100%;border-collapse:collapse;margin:1rem 0;overflow-x:auto}
article table th{font-size:.9rem}
article table td,article table th{padding:2px 5px;text-align:center;border:1px solid #ccc}
article li{line-height:2;padding-left:.4rem}
article li:last-child{margin-bottom:1rem}
article ul{list-style:disc outside;padding-left:2rem}
article ol{list-style:decimal outside;padding-left:2rem}
article .gist{max-width:100%}
article .gist td,article .gist th{text-align:left;border:0}
article .gist .gist-meta{background-color:transparent;color:#fff}
article .gist .gist-meta a{color:#fff}
.tag{padding:.25em 0;margin-right:.5em;opacity:.6}
.grid{margin:1em auto;display:grid;grid-gap:20px;grid-template-columns:repeat(auto-fit,minmax(400px,1fr));grid-auto-rows:400px}

@media screen and (max-width:736px){.grid{grid-template-columns:repeat(auto-fit,minmax(100%,1fr))}}
.grid.keep-aspect-ratio{grid-auto-rows:auto;place-items:start}
.grid>div{background-color:transparent;overflow:hidden}
.grid>div>img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover;opacity:1}
.grid>div>a{border-bottom:none}.grid>div>a>
img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover;opacity:1}
.video{position:fixed;z-index:-1}
#overlay{position:fixed;height:100%;width:100%;top:0;left:0;background:rgba(0,0,0,.4);z-index:-1}

@media(min-aspect-ratio:16/9){
    .video{width:100%;height:auto}}

@media(max-aspect-ratio:16/9){
    .video{width:auto;height:100%}
}
.go-left{justify-content:flex-start;align-items:flex-start}
.go-right{justify-content:flex-end;align-items:flex-end}
.go-center{justify-content:center;align-items:center}
